.tileContainer {
	min-width: 12rem;
	height: 18rem;
	text-decoration: none;
	color: black;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tileContainer:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imageContainer {
	width: 100%;
    height: 68%;
    overflow: hidden;
}

.contentContainer {
	padding: 1rem;
    display: grid;
    grid-row-gap: 1rem;
}

.dateContainer {
	color: gray;
}

img {
	width: 100%;
}